page-home {

}
.navheader .toolbar-background{
	background-color: #424242 !important;

}

.navheader .toolbar-title{
	
	color:white;
}
.menuBtn{
	color:white !important;
	box-shadow: none !important;
    border: none !important;
    background: none !important;
}

.homeBtn{
	box-shadow: none !important;
    border: none !important;
    background: none !important;
}

.homeBtn .button-inner{

	align-items: flex-start;
    justify-content: flex-start;
	
}

.homeContent{
	background-color: #939598 !important;
}

 

$text-input-md-show-success-highlight:      false;
$text-input-md-show-error-highlight:        false;


    