<ion-menu type="push" side="left" [content]="mycontent" id="CategoriesMenu" >
           
    <ion-content class="basicBackground">

        <ion-list class="background-color: #424242 !important;color:white;">
            <ion-item style="height:150px;background-color: #424242 !important;">
            <div>
            <ion-avatar item-left>
                <img src="assets/img/menuIcon.png">
            </ion-avatar>
            </div>
            <div>
                <h4 class="textColor">Suyati Technologies</h4>
                <h4 class="textColor">info@suyati.com</h4>
            </div>
            </ion-item>
        </ion-list>
        <ion-list class="">
            <div *ngFor="let category of categories.children_data">
                <ion-item *ngIf="category.children_data.length" (click)="toggleGroup(category)">
                    <div style="float:left;">
                        {{category.name}}
                    </div>
                    <div style="float:right;">
                        <ion-icon name="arrow-dropdown"></ion-icon>
                    </div>

                   <ion-list  *ngIf="isGroupShown(category)" class="" >
                            <ion-item (click)="subCategory.children_data.length?toggleSubCategory($event,subCategory):loadCatalog(subCategory.id)" *ngFor="let subCategory of category.children_data">
                                    <div style="float:left;">
                                         {{subCategory.name}}
                                     </div>
                                      <div style="float:right;" *ngIf="subCategory.children_data.length">
                                             <ion-icon name="arrow-dropdown"></ion-icon>
                                      </div>

                                    <ion-list  *ngIf="isSubGroupShown(subCategory)" class="" >
                                        <ion-item menuToggle (click)="loadCatalog(sub1.id)" *ngFor="let sub1 of subCategory.children_data">
                                            {{sub1.name}}
                                        </ion-item>
                                       <!--  <ion-item  menuToggle (click)="loadCatalog(subCategory.id)" *ngIf="subCategory.product_count && subCategory.children_data.length">
                                            View All {{subCategory.name}}
                                        </ion-item> -->
                                       
                                    </ion-list>  
                            </ion-item>
                            <!-- <ion-item menuToggle (click)="loadCatalog(category.id)" *ngIf="category.product_count && category.children_data.length">
                            View All {{category.name}}
                            </ion-item> -->
                           

  
 
                    </ion-list>                    
                </ion-item>
               
            </div>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-nav #mycontent [root]="rootPage"></ion-nav>
