// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.basicBackground .item{
	color: #939598 !important;
	background-color: #626262 !important;

	
}
.basicBackground{
	background-color: #424242 !important;
}
.textColor{
	color: white !important;
}
.basicBackground .item .item-inner
{
	border:none !important;
}

.navheader .toolbar-background{
	background-color: #424242 !important;

}
.navheader .back-button{
	color:white !important;
}

.navheader .toolbar-title{
	
	color:white;
}
.homeContent{
	background-color: #939598 !important;
}
.imgContainer{
	height:100%;
	width:70%;
	margin:0 auto;
	text-align:center;
}
.btn{
	border-color: #94c447 !important;
	color: #94c447 !important;
	border: 1px solid !important;
}
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child{
	
	box-shadow: none;
	border-color:none;
}

.list-md .item-input.input-has-focus:last-child{
	
	box-shadow: none;
	border-color:none;
}

#notification-button {            
    position: relative;
    width: 42px;
    top:1px;
    right: 1px;
    overflow: visible!important;
    height: 50px;
}


#notifications-badge {
    background-color: red;
    position: absolute;
    top: 2px;
	right: 1px;
    border: 1px solid white;
	border-radius: 10px;
    padding: 1px 3px !important;
}

.footerText{
	color:white !important;
}