page-home {

}
.homeBackground{
	background-color: #424242;

}

.homeBackground .item-inner
{
}
.loginInput
{
	color:#939598;
}
.loginIcon{
	color:#939598;
}
.listItem{
	height:40px !important;
	font-size:inherit !important;
	border:1px #939598 solid !important;
}
.loginleftItem
{
	width:200px;
	float:left;
	color: #939598 !important;
	padding-left:0 !important;
}
.loginrightItem{
	width:50px;
	float:right;
	padding-left:0 !important;
}
.loginCheckbox .checkbox-icon{
	background:none!important;
	border-color: #94c444;
}
.loginCheckbox .checkbox-icon .checkbox-inner{
	border-color:#94c444 !important;
}
.loginBtnContainer
{
	padding-left:0 !important;

}
.loginBtnContainer .item-inner
{
	padding:0 !important;
}
.loginBtnContainer .item-inner .label-md
{
	margin-right:2px !important;
	margin-bottom: 0;
}
.loginbtn{
	height:50px !important;
	border-color: #94c447 !important;
	color: #94c447 !important;
	width:100%;
}
.forgotpasswordLabel .label-md{
	margin-top:0 !important;
}