<!--
  Generated template for the ShippingAddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="navheader">

  <ion-navbar>
    <button ion-button icon-only class="homeBtn">
       <img src="assets/img/menuIcon.png" style="width : 30% ; height : 100%">
    </button>
  </ion-navbar>

</ion-header>


<ion-content class="homeContent">

<ion-card>
  <ion-card-header>
    Amount to be paid
  </ion-card-header>
  <ion-card-content>
   <ion-grid *ngFor="let item of totals">
      <ion-row>
           <ion-col col-10>{{item.title}}</ion-col>
           <ion-col >{{item.value}}</ion-col>
      </ion-row>
  </ion-grid>
   </ion-card-content>

</ion-card>

<ion-card>
  <ion-card-header>
    Payment Method
  </ion-card-header>
  <ion-card-content radio-group [(ngModel)]="payM">
    <div  *ngFor="let p of paymentMethods;let i=index;">
        <ion-radio value="{{i}}" style="float:left;" padding-right></ion-radio>
        <ion-label style="line-height: 16px;">{{p.title}}</ion-label>
     </div>
  </ion-card-content>
</ion-card>

</ion-content>

<ion-footer  class="navheader" (click)="gotoPayement()">
  <ion-toolbar>
   <button ion-button clear full class="footerText">Continue</button>
  </ion-toolbar>
</ion-footer>
